.best {
   &__models {
      @include flex();
      margin-top: 35px;
      flex-wrap: wrap;
   }
   &__model {
      @include pos(relative);
      @include flex(center);
      flex-direction: column;
      width: clamp(14.2%, 100px, 50%);
      @include font(18px);
      padding-top: 38px;
      cursor: pointer;
      img {
         @include pos(absolute, 0);
         width: 60%;
         filter: brightness(0);
      }
      &:hover {
         font-weight: $n;
      }
   }
   &__filter {
   }
}
