// Font style
@mixin font($fs, $fw: normal, $lh: 1.2) {
   font-weight: $fw;
   font-size: $fs;
   line-height: $lh;
}

// Block's container
@mixin container() {
   max-width: $maxWidth;
   margin: 0 auto;
   padding: 0 $maxPadding;
   @media (max-width: $md) {
      padding: 0 calc(#{$maxPadding} * 0.5);
   }
}

// Flex-container
@mixin flex($ai: stretch, $jc: flex-start) {
   display: flex;
   justify-content: $jc;
   align-items: $ai;
}

// Position
@mixin pos($p: absolute, $t: auto, $r: auto, $b: auto, $l: auto, $z: auto) {
   position: $p;
   top: $t;
   right: $r;
   bottom: $b;
   left: $l;
   z-index: $z;
}

// Align center
@mixin ac($t: 50%, $l: 50%) {
   top: $t;
   left: $l;
   transform: translate(#{-$l}, #{-$t});
}

// IBG метод
@mixin ibg($bp: center, $bs: cover, $br: no-repeat, $pb: 30%) {
   background-position: $bp;
   background-size: $bs;
   background-repeat: $br;
   padding-bottom: $pb;
   height: 100%;
   & > img {
      display: none;
   }
}

// Change placeholder's color
@mixin placeholder($c1, $c2: transparent) {
   &::-webkit-input-placeholder {
      color: $c1;
   }
   &::-moz-placeholder {
      color: $c1;
   } /* Firefox 19+ */
   &:-moz-placeholder {
      color: $c1;
   } /* Firefox 18- */
   &:-ms-input-placeholder {
      color: $c1;
   }
   &:focus::-webkit-input-placeholder {
      color: $c2;
   }
   &:focus::-moz-placeholder {
      color: $c2;
   }
   &:focus:-moz-placeholder {
      color: $c2;
   }
   &:focus:-ms-input-placeholder {
      color: $c2;
   }
}
