// Colors
$accent-color-l: #f1d493;
$accent-color-d: #e7b952;
$color-d: #000000;
$color-l: #ffffff;
$bg-color-d: #000000;
$bg-color-l: #ffffff;
$gray-l: #e8e8e8;
$gray-d: #151515;
// Font
$font: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
$b: 700;
$n: 600;
$l: 300;

// Screen sizes
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1440px;

// Container
$maxWidth: 1200px;
$maxPadding: 30px;

// Media
@media (max-width: $xxl) {
}

@media (max-width: $xl) {
}

@media (max-width: $lg) {
}

@media (max-width: $md) {
}

@media (max-width: $sm) {
}

// Transition
$ts-time: 300ms;
