// Colors
$accent-color-l: #ec644b;
$accent-color-d: #dc5238;
$color-d: #2e2e2e;
$color-l: #ffffff;
$bg-color-d: #25333c;
$bg-color-l: #f3f3f3;

// Font
$font: "Roboto", sans-serif;
$bold: 700;
$normal: 500;
$light: 300;

// Screen sizes
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1440px;

// Transition
$ts-time: 300ms;
