// Colors
$accent-color-l: #f1d493;
$accent-color-d: #f1d493;
$color-d: #000000;
$color-l: #ffffff;
$bg-color-d: #000000;
$bg-color-l: #ffffff;

// Font
$font: "Segoe UI", sans-serif;
$bold: 700;
$normal: 500;
$light: 300;

// Screen sizes
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1440px;

// Transition
$ts-time: 300ms;
