.button {
   @include font(20px);
   color: $color-d;
   padding: 5px 8px;
   border-radius: 5px;
   text-align: center;
   cursor: pointer;
   transition: $ts-time;
   &_light {
      background-color: $accent-color-l;
      &:hover {
         background-color: $accent-color-d;
      }
   }
   &_dark {
      background-color: $bg-color-d;
      color: $color-l;
      &:hover {
         color: $color-d;
         background-color: $accent-color-l;
      }
   }
}
