.best {
   &__models {
      @include flex();
      margin-top: 35px;
      flex-wrap: wrap;
   }
   &__lines {
      @include flex();
      flex-wrap: wrap;
   }
   &__model {
      @include pos(relative);
      @include flex(center);
      flex-direction: column;
      width: clamp(14.2%, 120px, 50%);
      @include font(18px);
      padding-top: 38px;
      cursor: pointer;
      margin-bottom: 30px;
      img {
         @include pos(absolute, 0);
         filter: brightness(0);
      }
      &:hover {
         font-weight: $n;
      }
   }
   &__filter {
      border-radius: 8px;
      padding: 10px 10px;
      background-color: $accent-color-l;
      @include pos(relative, -20px);
      &:before {
         content: "";
         @include pos(absolute, -20px, $l: 20px);
         border: 10px solid transparent;
         border-bottom: 10px solid $accent-color-l;
      }
   }
   &__class {
      @include font(18px);
      cursor: pointer;
      margin-right: 10px;
      &:hover {
         font-weight: $n;
      }
   }
   &__link {
      text-decoration: underline;
      &:hover {
         @include font($n);
         text-decoration: underline;
      }
   }
   &__slider {
      flex: 1 1 500px;
      @include pos(relative);
      @media (max-width: $lg) {
      }
   }
   &__image {
      max-width: 80%;
   }
   &__price {
      @include pos(absolute, $r: 0, $b: -100%);
   }
   &__main-card {
      padding-left: 20px;
      border-left: 3px solid $accent-color-l;
      margin-bottom: 30px;
   }
   &__nav {
      @include pos(absolute, $b: 0, $r: 0);
   }
   &__same-wr {
      margin-bottom: 40px;
   }
   &__more {
      margin-bottom: 50px;
   }
}
